# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Distribution / packaging
.Python

venv/
ENV/
env.bak/
venv.bak/
dist/
build/
*.egg
*.egg-info/
*.whl

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
media/
staticfiles/

# PyCharm
.idea/

# VS Code
.vscode/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Environments

# Docker
Dockerfile
docker-compose.yml